@model IEnumerable<BugTracker.Models.ApplicationUser>

@{
    ViewBag.Title = "AdminDashboard";
}

<h2>AdminDashboard</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.DisplayName
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Roles)
            </td>*@
            <td>
                @*@Html.ActionLink("Edit", "EditUser", new { id = item.Id })*@
                @Html.ActionLink("Edit Roles", "EditUser", new { id = item.Id }, null)
                @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>
